.input-form-container{
    width: 350px;
    display: flex;
    flex-direction: column;
    
    border-color: black;
    border-style: outset;
}

.inline-row{
    display: flex;
    justify-content: space-between;
}

.form-button { 
    float: right;
}