<section class="parentContainer">
    <section *ngFor="let tableElement of tableData | keyvalue">
        <section style="background-color: lightblue;">
            {{tableElement.key}}
        </section>
        <section style="display: flex; gap:10px">
            <section>
                {{tableElement.value.reportType}}
            </section>
            <section style="min-width: 80px;max-width: 100px;">
                {{ tableElement.value.reportTimeSlovak }}
            </section>
            <section>
                <app-text-coloring [text]="tableElement.value.text" ></app-text-coloring>
            </section>
        </section>
    </section>
</section>

